.second-nav{
    display:flex;
    margin-top:200px;
    margin-left:30px;
    margin-bottom:-80px;
    margin-right:-10px;
}
.desktop{
    display:none;
    @include breakpoint(1000px){
        display:flex;
    }
}
.breadcrumbs-mobile{
    color:white;
    background-color:$mirror-red;
 padding :5px 15px;
  font-size:20px;
  margin: -40px 0px 0px -38px;
  font-weight:800;
  @include breakpoint(1000px){
      display:none;
  }
}
.logo{
    color:white;
    background-color:$mirror-red;
 padding :0px 5px 0px 5px;
  font-size:20px;
  margin-bottom:2px;
}
.arrow{
    color: $mirror-red;
    margin: 2px 5px 0px 5px;
}
.font{
    font-size:10px;
margin:6px
}