@import 'mixinsOmar';
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 20 px;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction:row;
  font-weight: 600;
  font-size: 11px;
 
   border-bottom: 1px solid rgba(160, 159, 159, 0.815);
    
  @include breakpoint(800px){
    font-size: 14px;
    
     width:1000px;
     margin :0 auto;
      
  }
  @include breakpoint(1200px){
    font-size: 16px;
    
     width:1000px;
     margin :0 auto;
      
  }

}
.footer-nav-column {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
 margin :0px 30px;
 
  @include breakpoint(1000px)
  { padding: 10px 70px;
  
   margin:5px 100px 5px 0px;}
  li {
    padding: 5px 0px 0px 0px;
  
}
  @include breakpoint(700px)
  { padding: 10px 70px;
  
   margin:5px 100px 5px 0px;}
  li {
    padding: 5px 0px 0px 0px;
  
}
}
.footer-nav-column2 {
 display:none;
 
 
  @include breakpoint(1000px)
  {  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
   padding: 0px 10px;}
  li {
    padding: 5px 0px 0px 0px;
  }
}
.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;

  width: 100px;

  
  @include breakpoint(1000px){
width: 1000px;
  }
}
.footer-reduce{
  display:none;
  @include breakpoint(1200px){
    display:flex;
  }
}
.follow-us-icons {
  display: flex;
  flex-direction: row;
  
  margin: -5px 5px 10px 0px;
  @include breakpoint(900px){
    margin: -5px 50px 20px -25px;
  }
  @include breakpoint(1200px){
    margin: -5px 50px 20px -25px;
  }
}
.social-footer2{
height:48px;
margin-top:-5px;
padding-top:1px;

@include breakpoint(1000px){
    width: 50px;
  margin-bottom: 5px;
  padding-left: 80px;
  padding-top:3px;

  }
}
.social-footer{
height:40px;
margin : 0px 2px;
@include breakpoint(1000px){
  width: 40px;
  padding: 2px 5px;

  }
}


.terms {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  font-size: 10px;
  color: #979797;
  border-bottom: 1px solid rgba(160, 159, 159, 0.815);
  border-top: 1px solid rgba(161, 159, 159, 0.733);
  @include breakpoint(700px){
     width: 1000px;
  }
}

