$primary-color: #e90e0e;
@import 'mixinsOmar';
.header {
  display: flex;
  background-color: black;
    position: fixed;
     z-index: 100;
     width: 100%;
 
  

  margin-top: -10px;
  margin-left:-8px;
  padding: 5px;
 
 
}

.header-logo{
  height:40px;
  @include breakpoint(800px){
    height:50px;
    
  }
  @include breakpoint(1000px){
    height:55px;
    padding-top:10px;
  }
}
.menu-reduce{
  display:none;
  @include breakpoint(1500px){
    display:flex;
  }
}
 
.menu-reduce2{
  display:none;
  @include breakpoint(1300px){
    display:flex;
  }
}
.menu-reduce3{
  display:none;
  @include breakpoint(1150px){
    display:flex;
  }
}
.mobile-menu{
  height:40px;
  @include breakpoint(600px){
height:50px;
  }
  @include breakpoint(900px){
    display:none;
    
  }
}

 
.secondary {
  display:none;

   @include breakpoint(1000px){
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
 font-weight: 800;
  font-size: 14px;
  margin-bottom:10px;
  margin-left: -30px;
  
  }


}

// remove bullet points from a list
ul,
li {
  list-style-type: none;
  margin: 10px;
  color: white;
  font-family: sans-serif;
  text-transform: Uppercase;
}
.social-container{
  display :flex;
justify-content:flex-end;
  width:100%;
   @include breakpoint(900px){
   
     margin-top:15px;
   }
   
}
.social-header {
  display:none;

   @include breakpoint(736px){
     display:flex;
    
  height: 30px;
  margin-top: 10px;
  padding:0px 3px;

  }


}
.social-header2 {
  display:none;
  @include breakpoint(736px){
    display:flex;
  height: 40px;
  padding-top:4px;
  
  }
 
}
.magnifying-glass {
 width: 30px;
  padding: 3px 5px 6px 50px;
  
  @include breakpoint(736px){
  border-left: 1px solid white;
  height:30px;
  margin-left: 10px;
   padding: 3px 5px 6px 5px;
  }
  
}
.account-icon {
 height: 35px;
  padding: 0px 6px;
  margin-left: 0px;
  @include breakpoint(736px){
    margin-left: 50px;
    height :30px;
    padding:5px 20px;
  }

}
.second-menu{
  display: flex;
  background-color: #f1f1f1;
    position: fixed;
     z-index: 99;
     width: 100%;
 

  margin-top: 32px;
  margin-left:-8px;
  padding:0px 4px;
li{
  color:black;
  font-weight:600;
  font-size:11px;
}
@include breakpoint(600px){
  margin-top:45px;
}
@include breakpoint(900px){
  margin-top:55px;
}
@include breakpoint(1000px){
 display:none;
}
}