
@import "subscribe";
@import "header";
@import "recommended";
@import "footer";
@import "mixinsOmar";
@import "colors";
@import "text";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700%7COpen+Sans:400,600,700&display=swap");
@import "breadcrumbs";
@import "share";
@import "readmore";


body {
 
  z-index: 10;
  font-family: "Open Sans", sans-serif;
}
.background {
  background-color: rgb(228, 228, 228);
  z-index: -1;
  width:100%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.greyspace {
 z-index: 3;
  width: 100%;
  margin-bottom: -150px;
  padding: 30px;
  @include breakpoint(1200px){
    height: 100px;
     background-color: rgb(228, 228, 228);
  }
}
h1 {
  padding: 30px 0px 0px 0px;
  font-weight:800;
  letter-spacing:-1px;
  font-size:36px;
  line-height:1.2;
  @include breakpoint(1200px){
  border-left: 10px solid $mirror-red;
  padding: 30px 0px 0px 30px;
  
}}
.subtitle {
  padding:0px 10px;
  @include breakpoint(1200px){
     padding-left: 30px;
  }
}
.container {
  width:100vw;
  
  margin: 0 auto;
  height: 100%;
  
  
  background-color: white;
  @include breakpoint(1200px){
    max-width: 1000px;
    @include flex(column, center);
  }
}

h1 {
  margin-top: 100px;
}

.image {
  position: relative;
  width:100%;
  margin-left:-6px;
  @include breakpoint(1200px){
    // margin:30px;
  }
}
.fig-caption{
  position:relative;
  background-color:#f1f1f1;
  padding:10px 10px;
  margin-top:-5px;
  font-weight:600;
  font-size:14px;
  margin-bottom:20px;
  margin-left:-6px;

}
.media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  @include breakpoint(1200px){
  max-width: 1000px;
  }
}
.media-left {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fakescream {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  max-width:70%;
  margin:0px 0px 30px 0px;
    
  padding: 40px;
  border: $border;
  @include breakpoint(800px){
    margin-left: 100px;
  padding: 60px;
  width :auto;
  }
  @include breakpoint(1000px){
    margin-left: 100px;
  padding: 80px;
  width :auto;
  }
}
.red-highlight{
  color:$mirror-red;
  text-decoration:underline;
}
