@mixin flex($direction, $content: null) {
  display: flex;
  align-items:center;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin head() {
  display: flex;
  flex-direction: row;
}

@mixin breakpoint($from) {
  @media screen and (min-width:$from){
    @content;
  }
}