.read-container {
  background-color: $background-grey;

 width:95vw;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 20px;
  border: 1px solid rgb(194, 194, 194);
  @include breakpoint(1000px){
     width: 620px;
       margin: 30px;
  }
}
.read-btn {
  border: 1px solid black;
  position: absolute;
  background-color: black;
  margin: -20px 0px 0px 10px;
  padding: 0px 5px 0px 0px;
  box-sizing: content-box;
}
.M {
  background-color: $mirror-red;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 2px;
}
.read-more {
  background-color: black;
  color: white;
  padding: 4px 7px 3px 7px;
  font-size: 14px;
  font-weight: 800;
}

.read-text {
  padding: 6px 10px 70px 10px;

  font-size: 14px;
}
.arrow2 {
  font-weight: 1000;
}
