
@import 'colors';
@import 'mixinsOmar';

.recommended-container {
  display :none;

  
  @include breakpoint(1000px){
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:space-between;
  border-left:$border;
  padding-left:20px;
  padding-right :20px;
  margin-left:0px;
  }

}

.recommendations {
  display: flex;
  justify-content: space-between;
  border-top:$border;
  padding:10px 0px 10px 0px;
}

.recommended-images{
  width :35%;

}
.recommended-text{
  margin:-2px 0px 0px 10px
}
.recommended-border{

  display:flex;
  justify-content:flex-start;
}