.share-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  border-top:1px solid black ;
width:95%;
  margin : 0px 0px 0px 10px;
  @include breakpoint(700px){
    flex-direction:row;
    align-items:center;
      border-top: $border;
  border-bottom: $border;
  }
}

.share-social-icons{
  display:flex;
  flex-direction:row;
  margin:5px -10px;
 
 
  @include breakpoint(700px){
    border-bottom:0; 
    margin:5px 0px;
  }
}
.share-social-icons1{
  display:flex;
  flex-direction:row;
  
  margin:5px 0px 0px -3px;
  padding: 3px 105px 4px 10px; 
  border-bottom:1px solid black;
 
  @include breakpoint(700px){
    border-bottom:0; 
    margin:5px 0px;
    padding: 3px 0px; 
  }
}
.social-icons {
  display:flex;
  flex-direction:row;
 height: 25px;
 padding:0px 5px 0px 5px;
}
.social-icons2 {
 height: 30px;
 padding:-10px 0px;
 
  
 padding-left:10px;
@include breakpoint(700px){
  border-left:$border;
  height: 30px;
}
}
.audiance-writer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    font-size:13px;
   margin-right:10px;
    
    padding-left:10px;
    padding-right:70px;
    border-top:1px solid black;
    @include breakpoint(700px){
      font-size:10px;
margin:0px 200px 0px 0px;
border-top:0px;
    }
    
}
.link-color{
    color:$mirror-red;
}
.share-color{
  display:flex;
  align-items: flex-end;
    color:$mirror-red;
    margin-right:10px;
    font-weight:800;
   
    
}
.comments{
   
    padding:7px 5px 0px 10px;
   font-size:13px;
   color:green;
  
   @include breakpoint(700px){
      border-right:$border;
       padding:7px 5px 0px 10px;
   }
}
.logo-title2 {
  display:none;
  @include breakpoint(1000px){
    display:flex;
  color: white;
  background-color: #e90e0e;
padding:8px 24px;
box-sizing:content-box;
height:20px;
  }

  
}
.date{
  font-size:10px;
  font-weight: 200;
  
}