@import 'mixinsOmar';
@import 'colors';

.sign-up{
    border-radius: 2px;
    width:80vw;
    padding-bottom: 10px;
    background: rgba(233,14,14,0.12) ;
      margin:0 0 0 20px;
    padding:10px;
    display:flex;
    flex-direction:column;
   
    
    @include breakpoint(1000px){
      margin: 0px -30px 12px 24px;
       width:600px;
    }
    
    
}
.cta {
  margin-left:20px;
  padding:-10px 0px 10px 0px;
  @include flex(row);
  margin: 20px 0px 0px 0px;
}
.input {
border: 0;
    border-radius: 5px 25px 25px 5px;
    font-size: 15px;
    height: 44px;
    width:90%;
     position: relative;
  vertical-align: middle;
  padding-left:10px;
    z-index:1;
   @include breakpoint(1200px){
    width: 570px;
   margin:-20px 120px 20px 0px;
   padding-left:20px;

    
   }
}
.btn {
  border-radius: 25px;
    background-color: $mirror-red;
    font-family: "Open Sans",sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 500;
     margin-left:-90px;
     z-index: 2;
       height: 45px;
     @include breakpoint(1200px){
    width:100px;
    height: 50px;
   
   margin-left:-220px;
   margin-top:-40px;
}
}
.submit-smallprint{
    font-size:8px;
    margin: 5px 10px 0px 7px;
    @include breakpoint(1200px){
      font-size:11px;
      margin: -10px 0px 0px 5px;
    }
}