.text{
   margin-right:40px;
max-width:800px;

@include breakpoint(700px){
     margin-left:30px;
     margin-right:0px;
     max-width:90%;
     font-size:15px;
     font-weight:400;
     line-height:1.8;
}
    
@include breakpoint(1000px){
     margin-left:30px;
     margin-right:0px;
     max-width:90%;
     font-size:16px;
     font-weight:400;
     line-height:1.8;
}
    
}