//_buttons.scss

.btn {
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  align-items: center;
  text-align: center;
  border: none;
  background: getColour('orange');
  @include border-radius(10px);
  @include font-style('button');
  box-sizing: border-box;

  @include breakpoint($from: 'sm') {
    padding: 15px 25px;
  }

  @include breakpoint($from: 'md') {
    font-size: 1.15em;
  }

  &.negative {
    background: getColour('white');
    color: getColour('orange');
  }

  &:not(:disabled) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:disabled {
    background: getColor('grey');
    cursor: not-allowed;
  }

  &.md {
    padding: 15px 15px;
    font-size: 1.5em;

    @include breakpoint($from: 'sm') {
      padding: 15px 25px;
    }

    @include breakpoint($from: 'md') {
      font-size: 1.65em;
    }
  }

  &.lg {
    padding: 15px 20px;
    font-size: 2.1em;

    @include breakpoint($from: 'sm') {
      font-size: 2.3em;
      padding: 20px 30px;
    }

    @include breakpoint($from: 'md') {
      font-size: 2.9em;
    }
  }

  &.xl {
    padding: 15px 20px;
    font-size: 2.2em;

    @include breakpoint($from: 'sm') {
      font-size: 2.4em;
      padding: 20px 25px;
    }

    @include breakpoint($from: 'md') {
      font-size: 3.4em;
    }
  }

  &:not(.no-margin) {
    margin-bottom: $formSpacer;
  }
}
