//_colours.scss

//looping through each $colours and creating colour classes
//by calling createClassesForColour( $colourName, $colourVal, $colourShadeName: null ) mixin
@each $value in $colours {
  //getting name and value for colour classes
  $colourName: nth($value, 1);
  $colourVal: nth($value, 2);

  //if value is a colour, set the class and value
  @if type-of($colourVal) == 'color' {
    //creating colour class
    @include createClassesForColour( $colourName, $colourVal );

    //if value is a map, loop through all the colours
  } @else if type-of($colourVal) == 'map' {
    //removing base for shade looping
    $colourShades: map-remove($colourVal, 'base');

    //creating colour class
    @include createClassesForColour( $colourName, map-get($colourVal, 'base') );

    //looping through shades
    @each $shade in $colourShades {
      //getting name and value for colour shade classes
      $shadeName: nth($shade, 1);
      $shadeVal: nth($shade, 2);

      //creating colour class
      @include createClassesForColour( $colourName, $shadeVal, $shadeName );

    }

  //not colour or map so error as invalid colour value
  } @else {
    @error 'Invalid colour value';
  }
}


// Info colour classes ---------------------------------------------------------

// .warning { color: getColour('red', 'light');}
// .info { color: getColour('blue', 'light');}
// .success { color: getColour('green', 'light');}
//
// .warning-bg { background: getColour('red', 'light'); color: white;}
// .info-bg { background: getColour('blue', 'light'); color: white;}
// .success-bg { background: getColour('green', 'light'); color: white;}
