//_config_vars.scss

$grid: (
  columns: 12,
  columnSpacing: 30px,
  spacingHalvingPoint: null,
  //setting margin between each column
    columnSizes:
    (
      // sm: 550px,
        md: 768px,
      lg: 960px,
      //declaring only relevant breakpoints, remaining would
        xl: 1240px,
      //stay at 100% or the last bp value
        xxl: 1400px
    ),
  breakpoints: (
    xs: 0px,
    //starts at 0 ends at 576
      sm: 576px,
    //starts at 576 ends at 768
      md: 768px,
    //starts at 768 ends at 992
      lg: 992px,
    //starts at 992 ends at 1200
      xl: 1200px,
    //starts at 1200 ends at infinite
      xxl: 1400px //starts at 1200 ends at infinite
  )
);

$fontFaces: (
  'Open Sans': (
    family: 'Open Sans, Helvetica, Arial',
    type: sans-serif
  ),
  'Font Awesome 5 Free': (
    family: '"Font Awesome 5 Free"',
    type: sans-serif
  )
);

$fontStyles: (
  'heading': (
    family: 'Open Sans',
    weight: 700,
    style: normal
  ),
  'content': (
    family: 'Open Sans',
    weight: 300,
    style: normal
  ),
  'highlight': (
    family: 'Open Sans',
    weight: 700,
    style: normal
  ),
  'button': (
    family: 'Open Sans',
    weight: 700,
    style: normal
  ),
  'icon': (
    family: 'Font Awesome 5 Free',
    weight: 900,
    style: normal
  )
);

$fontSizes: (
  xs: 0.7em,
  sm: 0.9em,
  md: 1.1em,
  lg: 1.5em,
  xl: 2em,
  xxl: 3.5em
);

$responsiveFontSizes: (
  html: (
    xs: (
      size: 16px,
      line-height: 15px
    )
    //setting base only for rem and em
  ),
  h1: (
    xs: (
      size: 2.3em,
      line-height: 110%
    ),
    sm: (
      size: 2.5em,
      line-height: 110%
    ),
    md: (
      size: 2.8em,
      line-height: 110%
    ),
    lg: (
      size: 3em,
      line-height: 110%
    ),
    xl: (
      size: 3.5em,
      line-height: 110%
    )
  ),
  h2: (
    xs: (
      size: 2em,
      line-height: 110%
    ),
    sm: (
      size: 2.1em,
      line-height: 110%
    ),
    md: (
      size: 2.5em,
      line-height: 110%
    ),
    lg: (
      size: 2.8em,
      line-height: 110%
    ),
    xl: (
      size: 3em,
      line-height: 110%
    )
  ),
  h3: (
    xs: (
      size: 1.5em,
      line-height: 130%
    ),
    sm: (
      size: 1.7em,
      line-height: 130%
    ),
    md: (
      size: 1.9em,
      line-height: 130%
    ),
    lg: (
      size: 2.1em,
      line-height: 130%
    ),
    xl: (
      size: 2.5em,
      line-height: 130%
    )
  ),
  h4: (
    xs: (
      size: 1.2em,
      line-height: 140%
    ),
    sm: (
      size: 1.2em,
      line-height: 140%
    ),
    md: (
      size: 1.3em,
      line-height: 140%
    ),
    lg: (
      size: 1.3em,
      line-height: 140%
    ),
    xl: (
      size: 1.4em,
      line-height: 140%
    )
  ),
  h5: (
    xs: (
      size: 1.1em,
      line-height: 110%
    ),
    sm: (
      size: 1.1em,
      line-height: 110%
    ),
    md: (
      size: 1.1em,
      line-height: 110%
    ),
    lg: (
      size: 1.2em,
      line-height: 110%
    ),
    xl: (
      size: 1.3em,
      line-height: 110%
    )
  ),
  h6: (
    xs: (
      size: 1em,
      line-height: 130%
    ),
    sm: (
      size: 1em,
      line-height: 130%
    ),
    md: (
      size: 1em,
      line-height: 130%
    ),
    lg: (
      size: 1.1em,
      line-height: 130%
    ),
    xl: (
      size: 1.1em,
      line-height: 130%
    )
  ),
  p: (
    xs: (
      size: 1.1em,
      line-height: 160%
    ),
    sm: (
      size: 1.1em,
      line-height: 160%
    ),
    md: (
      size: 1.1em,
      line-height: 160%
    ),
    lg: (
      size: 1.2em,
      line-height: 160%
    ),
    xl: (
      size: 1.2em,
      line-height: 160%
    )
  ),
  small: (
    xs: (
      size: 0.9em
    ),
    sm: (
      size: 0.9em
    ),
    md: (
      size: 0.9em
    ),
    lg: (
      size: 0.9em
    ),
    xl: (
      size: 0.9em
    )
  ),
  table: (
    xs: (
      size: 0.7em
    ),
    sm: (
      size: 0.7em
    ),
    md: (
      size: 0.7em
    ),
    lg: (
      size: 0.85em
    ),
    xl: (
      size: 0.85em
    )
  )
);

$formSpacer: 12px;

//https://coolors.co/
$colours: (
  'white': #ffffff,
  'black': #000000,
  'grey': (
    lightest: #f7f7f7,
    lighter: #f0f0f0,
    light: #d6d6d6,
    base: #969398,
    dark: #626262,
    darker: #434343,
    darkest: #252525
  ),
  'red': (
    base: #a73033
  ),
  'orange': (
    base: #ff8a00
  ),
  'yellow': (
    base: #fcff00,
    dark: #ffdeb8,
    darker: #d3a132
  ),
  'blue': (
    lightest: #d9e9f9,
    lighter: #b5d7f7,
    light: #7db8f0,
    base: #76bafb,
    dark: #2e6494,
    darker: #0000aa,
    darkest: #0a1f31
  ),
  'purple': (
    base: #ac6cff
  ),
  'green': (
    base: #62b01e
  )
);

$gradients: (
  //'dark': linear-gradient(to top, getColour( 'blue', 'darker' ) 0%, getColour( 'blue', 'dark' ) 100%),
);

$shadowColour: getColour('grey', 'darker');

$shadowDepths: (
  none: none,
  // xs: #{0 0 2px 0 rgba($shadowColour, 0.1)},
    // sm: #{0 1px 4px 0 rgba($shadowColour, 0.2)},
    // md: #{0 3px 7px 0 rgba($shadowColour, 0.4)},
    // lg: #{0 8px 17px 0 rgba($shadowColour, 0.4)}
);

$paddings: (
  xs: 0.5rem,
  sm: 1rem,
  md: 1.3rem,
  lg: 3.5rem,
  xl: 6rem
);

$margins: (
  xs: 0.5rem,
  sm: 1rem,
  md: 1.3rem,
  lg: 3.5rem,
  xl: 6rem
);
