//_general.scss

// Main Style ------------------------------------------------------------------
html,
body {
  background: white;
  @include font-style('content');
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: auto;
}

// Typography Style ------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-style('heading');

  &:not(.no-margin) {
    margin: 0.5em 0;
  }
}

p {
  &:not(.no-margin) {
    margin-bottom: 1em;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  li {
    margin-bottom: getMarginVal('sm');
  }
}

sup {
  vertical-align: super;
  line-height: 1;
}
sub {
  vertical-align: sub;
  line-height: 1;
}

.underline {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix {
  width: 100%;
  clear: both;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

hr {
  border-style: none;
  height: 1px;
  background-color: rgba(black, 0.5);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

input,
textarea {
  @include font-style('content');
}

button {
  @include font-style('content');
}

header {
  margin: getMarginVal('sm') 0;

  .container {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 105px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .tagline {
    margin: 0;
    font-size: getFontSizeVal('sm');
    text-align: center;
  }

  .btn {
    @include breakpoint($to: 'sm') {
      padding: 15px 20px;
    }
  }
}

footer {
  background: getColour('grey', 'lighter');
  font-size: 12px;
  padding: getPaddingVal('xs') 0 getPaddingVal('md') 0;

  &:not(.no-margin) {
    margin-top: getMarginVal('md');
  }

  .logo-bar {
    margin-bottom: getMarginVal('lg');

    img {
      width: 90px;
      height: auto;
      margin-bottom: getMarginVal('xs');
    }

    .copy {
      margin-bottom: 0;

      strong {
        font-size: 1.3em;
      }
    }

    ul {
      font-weight: 700;
    }
  }

  p {
    margin: 0;
    line-height: 1.5;
    font-size: 11px;
    color: getColour('black');

    @include breakpoint($from: 'sm') {
      font-size: 12px;
    }

    &:not(.no-margin) {
      margin: 0;
    }
  }

  .container {
    align-items: flex-end;
    justify-content: center;

    > div {
      max-width: 100%;
    }

    &.flex {
      justify-content: space-between;
      align-items: stretch;
      flex-flow: column;

      @include breakpoint($from: 'sm') {
        flex-flow: row;
        align-items: flex-end;
      }
    }
  }

  nav {
    flex-shrink: 0;
    margin-left: getMarginVal('lg');

    @include breakpoint($from: 'md') {
      margin-left: getMarginVal('lg') * 2;
    }

    a {
      text-decoration: none !important;
    }

    ul {
      list-style: none;
      text-align: right;
      color: getColour('grey');
      margin: 5px 0;

      li {
        display: inline-block;
        margin-left: getMarginVal('sm');
        line-height: 1;
        margin-bottom: 0;
      }
    }
  }
}

picture {
  display: inline-block;
}

.spinner {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-bottom: getMarginVal('xs');
}
.spinner:after {
  content: ' ';
  display: block;
  width: 36px;
  height: 36px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-box {
  box-sizing: border-box;
}
