// object-fit polyfill

html.no-objectfit,
html.no-object-fit {
  .obj-fit-box {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;

    img {
      display: none;
      visibility: hidden;
    }
  }

  .weather-widget {
    .obj-fit-box {
      img {
        display: block;
        visibility: visible;
      }

      &.icon {
        img {
          position: relative;
          width: auto;
          height: 100%;
        }
      }

      &.bck {
        overflow: hidden;

        img {
          position: absolute;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          max-width: none;
          max-height: none;
          left: 50%;
          top: 50%;
          @include transform-basic(translate(-50%, -50%));
        }
      }
    }
  }
}
