//_utilities.scss

$sides: ('top', 'right', 'bottom', 'left');

// Box alignment classes -------------------------------------------------------

.left {
  float: left;
}
.right {
  float: right;
}

// Text alignment classes ------------------------------------------------------

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

// Other text classes ----------------------------------------------------------

.uppercase {
  text-transform: uppercase;
}

// Media classes ----------------------------------------------------------------

img,
video {
  &.responsive {
    max-width: 100%;
    height: auto;
  }
}

// Clearfix class --------------------------------------------------------------

.clearfix {
  clear: both;
}

// Padding classes -------------------------------------------------------------

@each $padding in $paddings {
  $size: nth($padding, 1);
  $paddingVal: nth($padding, 2);
  $spacingHalvingPoint: map-get($grid, 'spacingHalvingPoint');

  .padding {
    &-#{$size} {
      &:not(.padding-equal-vertical) &:not(.padding-equal-horizontal) {
        padding: $paddingVal;

        @if ($spacingHalvingPoint!= null) {
          @include breakpoint($to: '#{$spacingHalvingPoint}') {
            padding: $paddingVal / 2;
          }
        }
      }

      &.padding-equal {
        &-horizontal {
          padding-left: $paddingVal;
          padding-right: $paddingVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              padding-left: $paddingVal / 2;
              padding-right: $paddingVal / 2;
            }
          }
        }

        &-vertical {
          padding-top: $paddingVal;
          padding-bottom: $paddingVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              padding-top: $paddingVal / 2;
              padding-bottom: $paddingVal / 2;
            }
          }
        }
      }

      @each $side in $sides {
        &-#{$side} {
          padding-#{$side}: $paddingVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              padding-#{$side}: $paddingVal / 2;
            }
          }
        }
      }
    }
  }
}

@each $side in $sides {
  .no-padding-#{$side} {
    padding-#{$side}: 0;
  }
}

// Margin classes --------------------------------------------------------------

@each $margin in $margins {
  $size: nth($margin, 1);
  $marginVal: nth($margin, 2);
  $spacingHalvingPoint: map-get($grid, 'spacingHalvingPoint');

  .margin {
    &-#{$size} {
      &:not(.margin-equal-vertical) &:not(.margin-equal-horizontal) {
        margin: $marginVal;
        @if ($spacingHalvingPoint!= null) {
          @include breakpoint($to: '#{$spacingHalvingPoint}') {
            margin: $marginVal / 2;
          }
        }
      }

      &.margin-equal {
        &-horizontal {
          margin-left: $marginVal;
          margin-right: $marginVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              margin-left: $marginVal / 2;
              margin-right: $marginVal / 2;
            }
          }
        }

        &-vertical {
          margin-top: $marginVal;
          margin-bottom: $marginVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              margin-top: $marginVal / 2;
              margin-bottom: $marginVal / 2;
            }
          }
        }
      }

      @each $side in $sides {
        &-#{$side} {
          margin-#{$side}: $marginVal;

          @if ($spacingHalvingPoint!= null) {
            @include breakpoint($to: '#{$spacingHalvingPoint}') {
              margin-#{$side}: $marginVal / 2;
            }
          }
        }
      }
    }
  }
}

@each $side in $sides {
  .no-margin-#{$side} {
    margin-#{$side}: 0;
  }
}
